<h2>Edit comment</h2>

<%= form_for @comment do |f| %>
Content for edit: <%= f.text_field :content %>
<%= f.submit %>
<% end %>

<%= link_to "Destroy comment", comment_path(@comment), method: :delete %>