nav {
	width: 40%;
	border: 2px solid;
	border-radius: 25px;
	list-style-type: none;
	padding: 5px;
	height: 40px;
	background-color: lightblue;
	box-shadow: 5px 5px 5px green;
}

nav li {
	display: inline-block;
	margin-left: 20px;
}

nav li a {
	text-decoration: none;
	font-family: "Comic Sans MS", cursive, sans-serif;
}